<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="form-control"><center>Gestor de archivos</center></h1>
            <div style="background-color:white;">Bienvenido al gestor de archivos</div>
            <%= render 'form', post: @post %>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>