<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <%= image_tag ('logo.PNG'), :class => 'user-image img-responsive' %>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicon-home glyphicon3x"></i>Cliente
        </a>
      </li>
      
    </ul>
  </div>
</nav>
