<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <%= image_tag ('logoclient.jpg'), :class => 'user-image img-responsive' %>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicon-home glyphicon3x"></i>Inicio Cliente
        </a>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicons-blog glyphicon3x"></i>Mis Proyectos
        </a>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicon-file-cloud glyphicon3x"></i>Mis Cotizaciones
        </a>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicon-pushpin glyphicon3x"></i>Mis Facturas
        </a>
      </li>
      <li>
        <a href="/admin">
          <i class="glyphicon glyphicon-bullhorn glyphicon3x"></i>Enviar Un Ticket
        </a>
      </li>
    </ul>
  </div>
</nav>
